<h2>Useful Links!</h2>
<div class="container LinkLists">
  <div class="row">
    <div class="col-sm-3">
      <h3>Images</h3>
    </div>
    <div class="col-sm-9">
      <%= link_to 'Subtle Patterns', 'https://www.toptal.com/designers/subtlepatterns/' %>
      <br />
      <%= link_to 'Unsplash', 'https://unsplash.com/' %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <h3>Fonts</h3>
    </div>
    <div class="col-sm-9">
      <%= link_to 'Font Squirrel', 'www.fontsquirrel.com' %>
      <br />
      <%= link_to 'Font Stacks', 'https://css-tricks.com/snippets/css/font-stacks/' %>
      <br />
      <%= link_to 'Game Fonts', 'http://www.thealmightyguru.com/GameFonts/Index.html' %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <h3>Git Help</h3>
    </div>
    <div class="col-sm-9">
      <%= link_to 'Oh Sh!t Git', 'https://ohshitgit.com/' %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <h3>Challanges</h3>
    </div>
    <div class="col-sm-9">
      <%= link_to 'Leet Code', 'https://leetcode.com/explore/' %>
      <br />
      <%= link_to 'Code Wars', 'https://www.codewars.com/' %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <h3>Fun Code Pieces</h3>
    </div>
    <div class="col-sm-9">
      <%= link_to 'Transparent Click', 'https://stackoverflow.com/questions/38487569/click-through-png-image-only-if-clicked-coordinate-is-transparent' %>
      <br />
      <%= link_to 'Depth First Maze', 'https://codepen.io/GabbeV/pen/viAec'%>
    </div>
  </div>
</div>