<!DOCTYPE html>
<html>
  <head>
    <title>Radiant</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- NAVBAR -->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Radiant</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Maze Project</a></li>
          <li><a href="#">Page 2</a></li>
          <li><a href="#">Page 3</a></li>
        </ul>
        <!-- -->
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </nav>

  <!-- MAIN BODY -->
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12">
          <%= yield %>
        </div>
      </div>
    </div>

  <!-- FOOTER -->
    <footer class="container-fluid text-center">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-3">
            <b>Teachers</b>
            <br />
            <%= link_to 'Teach a Course', '#' %>
            <br />
            <%= link_to 'My Dashboard', '#' %>
          </div>
          <div class="col-12 col-sm-3">
            <b>About</b>
            <br />
            <%= link_to 'Team', '#' %>
            <br />
            <%= link_to 'Careers', '#' %>
            <br />
            <%= link_to 'Privacy Policy', '#' %>
          </div>
          <div class="col-12 col-sm-3">
            <b>Contact</b>
            <br />
            Christian Thomas
            <br />
            Oshkosh WI, 54902
          </div>
          <div class="col-12 col-sm-3 social">
            <b>Social</b>
            <br />
            <%= link_to 'https://github.com/kerreal' do %>
              <span class="fa fa-github-square fa-2x social-button"></span>
            <% end %>
            <br />
            <%= link_to 'https://www.linkedin.com/in/christian-thomas-fullstack/' do %>
              <span class="fa fa-linkedin-square fa-2x social-button"></span>
            <% end %>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
